.DS_Store
backend/foo.db
data.db
tmp/
cmd/play/play.db
backend/engine/luaz/binds/test.db
backend/engine/testdata/test.zip
backend/engine/epackages/auth-example/auth-example.zip
dist/*
backend/labs/vfsync/data/*
backend/labs/vfsync/vfs
contrib/demo/demo_data
cmd/cloudy/.env
